<div class="modal-header">
    {{ title }}
</div>

<div class="modal-body">
    <div class="d-flex flex-column row-gap-4">
        <div>
            {{ message }}
        </div>
        <div class="d-flex justify-content-end align-items-center column-gap-2">
            <button type="button" class="btn btn-light px-4 py-2" (click)="cancel()">
                Cancel
            </button>
            <button type="button" class="btn btn-primary px-4 py-2" (click)="confirm()">
                Proceed
            </button>
        </div>
    </div>
    
</div>